/* .main-body{
  
} */

.right-manu{
background-color: rgb(10, 10, 10);
height: 600px;
}
.side-manu{
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;

}